
<div *ngIf="estudio">
<mat-card class="example-card "  *ngIf="estudio">
  <mat-card-header aling-center>
    
    <mat-card-title >Mercadeo Ucab</mat-card-title>
    
  </mat-card-header>

  <mat-card-content>
    
      <div class="form-group">
        <p> Marca: {{estudio.caracteristicas.Marca}}</p>
        <p> Categoria: {{estudio.caracteristicas.Categoria}}</p>
        <p> Subcategoria: {{estudio.caracteristicas.Subcategoria}}</p>
      </div>
   
  </mat-card-content>

</mat-card>

<mat-divider></mat-divider>
<app-contenedor-pregunta-nueva (nuevaEvent)="PreguntaNueva($event)"></app-contenedor-pregunta-nueva>

<mat-divider></mat-divider>

<mat-card >
  <mat-card-header aling-center>  
    <mat-card-title >Agregador de preguntas</mat-card-title>
  </mat-card-header>

  <form novalidate [formGroup]="AgregadorForm" #fform="ngForm" >

    <mat-form-field class="half-width">
      <mat-select formControlName="tipo">
        
        <mat-option *ngFor="let x of preguntas" value={{x.id}}>{{x.descripcion}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="#ffc107" (click)="Agregador()" >Agregar Pregunta</button>
    </mat-card-actions>
  </form>
</mat-card>

<mat-divider></mat-divider>

<app-contenedor-pregunta-vieja *ngFor="let i of preguntasSeleccionadas" (preguntaEvent)="Borrador($event)"  [pregunta]="i"></app-contenedor-pregunta-vieja>

<mat-divider></mat-divider>



<mat-card >
  <mat-card-header aling-center>
    <mat-card-title >Confirma la encuesta</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="form-group">
      <label for="exampleInputEncuesta1">Nombre de la Encuesta</label>
      <input type="text" class="form-control" id="exampleInputEncuesta1" aria-describedby="EncuestaHelp">
    </div>
          <mat-card-actions>
        <button mat-raised-button color="#ffc107" type="submit">Aceptar encuesta</button>
      </mat-card-actions>
    
  </mat-card-content>


</mat-card>
</div>

<div [hidden]="estudio">
    <mat-spinner></mat-spinner><h4>Cargando estudio ...</h4>
</div>
