.contenedor{
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    width: 45%;
    
}


.example-card {
    max-width: 45%;
    margin: 15px 5px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }