<div class="container">
    <mat-card class="row example-card container">
        <mat-card-header class="color pg 2rm">

            <div class="row">
                <div class="col-6" style="display:flex">
                    <img src="/assets/Imagen2.png" class="i">
                    <h1 class="fuente"> Solicitar Estudio</h1>
                </div>
            </div>

        </mat-card-header>

        <mat-card-content class="container">

            <h2>
                <mat-icon aria-hidden="false" aria-label="Example pie_chart icon">pie_chart</mat-icon>
                Productos
            </h2>

            <div class="row justify-content-md-center">
                <div class="col-6 col-md-4">Categoria
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-6 col-md-4">Sub-Categoria
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="row">
                    <div class="col-md-3 offset-md-3">
                        <mat-checkbox class="example-margin">item</mat-checkbox>
                    </div>
                </div>
            </div>

            <mat-divider class="divider"></mat-divider>

            <h2>
                <mat-icon aria-hidden="false" aria-label="Example groups icon">groups</mat-icon>
                Caracteristicas Demograficas
            </h2>
            <div class="row">
                <div class="col-6 col-md-4">Pais <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-4"> Ciudad<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-4"> Parroquia<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4">Nacionalidad<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-4"> Edad Maxima<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-4"> Edad Minima<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4">Nivel Socio Economico<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-4">Genero<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-4"> Cantidad de Hijos<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-4"> Nivel Academico<br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <mat-divider class="divider"></mat-divider>
            <h2>
                <mat-icon aria-hidden="false" aria-label="Example blur_on icon">blur_on</mat-icon>
                Modalidad
            </h2>
            <div class="row">
                <div class="col-6">
                    <mat-checkbox class="example-margin">Atraves de la aplicacion</mat-checkbox>
                </div>
                <div class="col-6">
                    <mat-checkbox class="example-margin">Por Telefono</mat-checkbox>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <div class="row justify-content-md-center">
                <button mat-flat-button class="color">Solicitar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>