.idea/*
*.iml
Java-desarrollo/accesodatos/target/*
Java-desarrollo/directorioactivo/target/*
Java-desarrollo/dtos/target/*
Java-desarrollo/entidades/target/*
Java-desarrollo/excepciones/target/*
Java-desarrollo/servicio/target/*
Java-desarrollo/logica/target/*
Java-desarrollo/mappers/target/*
Java-desarrollo/accesodatos/src/main/resources/*
Angular-desarrollo/src/urlGlobal.ts
