<h2 mat-dialog-title>
    Caracteristicas Demograficas</h2>

<mat-dialog-content class="mat-typography">
    <h3></h3>

    <P>{{data.caracteristicas.edad_min}}</P>
    <P>{{data.caracteristicas.edad_max}}</P>
    <P>{{data.caracteristicas.nivel_socioeconomico}}</P>
    <P>{{data.caracteristicas.nivel_academico}}</P>
    <P>{{data.caracteristicas.nacionalidad}}</P>
    <P>{{data.caracteristicas.cantidad_hijos}}</P>
    <P>{{data.caracteristicas.genero}}</P>
    <P>{{data.caracteristicas.parroquia}}</P>
    <P>{{data.caracteristicas.ciudad}}</P>
    <P>{{data.caracteristicas.estado}}</P>
    <P>{{data.caracteristicas.pais}}</P>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Atras</button>
</mat-dialog-actions>