<h2 mat-dialog-title>
    Caracteristicas Demograficas</h2>

<mat-dialog-content class="mat-typography">
    <h3></h3>

    <P><strong>Edad Minima: </strong>{{data.caracteristicas.edad_min}}</P>
    <P><strong>Edad Maxima: </strong>{{data.caracteristicas.edad_max}}</P>
    <P><strong>Nivel Socioeconomico: </strong>{{data.caracteristicas.nivel_socioeconomico}}</P>
    <P><strong>Nivel Academico: </strong>{{data.caracteristicas.nivel_academico}}</P>
    <P><strong>Cantidad de hijos: </strong>{{data.caracteristicas.cantidad_hijos}}</P>
    <P><strong>Genero: </strong>{{data.caracteristicas.genero}}</P>
    <P><strong>Nacionalidad: </strong>{{data.caracteristicas.nacionalidad}}</P>
    <P><strong>Pais: </strong>{{data.caracteristicas.pais}}</P>
    <P><strong>Estado: </strong>{{data.caracteristicas.estado}}</P>
    <P><strong>Ciudad: </strong>{{data.caracteristicas.ciudad}}</P>
    <P><strong>Parroquia: </strong>{{data.caracteristicas.parroquia}}</P>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Atras</button>
</mat-dialog-actions>