.forma{
    padding: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.example-form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 10px;
}
