<div class="container">
    <div class="row justify-content-md-center">
        <h1> USUARIOS</h1>
    </div>
    <mat-form-field>
        <mat-label>Buscar usuario</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Nombre de usuario" #input>
    </mat-form-field>
    <div class="table mat-elevation-z8" >
        <table mat-table [dataSource]="dataSource" matSort>


            <ng-container matColumnDef="uid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#ffc400;text-align: center;"> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
            </ng-container>


            <ng-container matColumnDef="cn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#ffc400;text-align: center;"> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.cn}} </td>
            </ng-container>

            <ng-container matColumnDef="tipo_usuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  style="background-color:#ffc400;text-align: center;"> Rol</th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#ffc400;text-align: center;"> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#ffc400;text-align: center;"> Apellido</th>
                <td mat-cell *matCellDef="let element"> {{element.sn}} </td>
            </ng-container>

            <ng-container matColumnDef="correoelectronico">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#ffc400;text-align: center;"> Correo</th>
                <td mat-cell *matCellDef="let element"> {{element.correoelectronico}} </td>
            </ng-container>

            <ng-container matColumnDef="estado" class="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#ffc400;text-align: center;"> Estatus </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef style="background-color:#ffc400;text-align: center;"> Opciones</th>
                <td mat-cell *matCellDef="let element">
                    <div class="father">
                        <div *ngIf="element.estado=='activo'"  aling="center">
                            <a class="btn btn-primary text-white" style="cursor: pointer;" (click)="openDialogModificar(element)"><i class="fas fa-pencil-alt"></i></a>
                        </div>
                        <div *ngIf="element.estado=='activo'"  aling="center">
                            <button type="submit" class="btn btn-danger" (click)="openDialogDelete(element)"> <i class=" fas fa-trash"></i></button>
                        </div>
                        <div *ngIf="element.estado=='inactivo'" aling="center">
                            <button type="submit" class="btn btn-danger" (click)="activarUsuario(element.uid)"> <i class=" fas fa-trash-restore"></i></button>
                        </div>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


    <div class="row justify-content-end">
        <button mat-fab class="color" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="border:0; outline: none;">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog('admin')">
              <mat-icon>admin_panel_settings</mat-icon>
              <span>Administrador</span>
            </button>
            <button mat-menu-item (click)="openDialog('analista')">
              <mat-icon>assignment_ind</mat-icon>
              <span>Analista</span>
            </button>
            <button mat-menu-item (click)="openDialogCliente()">
              <mat-icon>supervisor_account</mat-icon>
              <span>Cliente</span>
            </button>
            <button mat-menu-item>
                <mat-icon>recent_actors</mat-icon>
                <span>Encuestado</span>
              </button>
        </mat-menu>

    </div>
</div>