<div class="container">
    <div class="row justify-content-md-center">
        <h1> USUARIOS</h1>
    </div>

    <div class="table mat-elevation-z8" style="text-align: center;">
        <table mat-table [dataSource]="dataSource">


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="background-color:#ffc400;text-align: center;"> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>


            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef style="background-color:#ffc400;text-align: center;"> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef style="background-color:#ffc400;text-align: center;"> Rol</th>
                <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
            </ng-container>

            <ng-container matColumnDef="estado" class="color">
                <th mat-header-cell *matHeaderCellDef style="background-color:#ffc400;text-align: center;"> Estatus </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef style="background-color:#ffc400;text-align: center;"> Opciones</th>
                <td mat-cell *matCellDef="let element">
                    <div class="father">
                        <div aling="center">
                            <a class="btn btn-primary text-white" style="cursor: pointer;"><i class="fas fa-pencil-alt"></i></a>
                        </div>
                        <div aling="center">
                            <button type="submit" class="btn btn-danger" (click)="openDialogDelete(element)"> <i class=" fas fa-trash"></i></button>
                        </div>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


    <div class="row justify-content-end">
        <button mat-fab class="color" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="border:0; outline: none;">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog('admin')">
              <mat-icon>admin_panel_settings</mat-icon>
              <span>Administrador</span>
            </button>
            <button mat-menu-item (click)="openDialog('analista')">
              <mat-icon>assignment_ind</mat-icon>
              <span>Analista</span>
            </button>
            <button mat-menu-item (click)="openDialogCliente()">
              <mat-icon>supervisor_account</mat-icon>
              <span>Cliente</span>
            </button>
            <button mat-menu-item>
                <mat-icon>recent_actors</mat-icon>
                <span>Encuestado</span>
              </button>
        </mat-menu>

    </div>
</div>