
<mat-card class="example-card" *ngIf="estudio">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Marca: {{estudio.caracteristicas.Marca}}</mat-card-title>
      <mat-card-subtitle>Cliente: Juan Perez - Estado:
          <p *ngIf="estudio.estatus!='finalizado'" [class]="estudio.estatus=='pendiente'?'pendiente': 'en-progreso'">{{estudio.estatus}}</p>
          <p *ngIf="estudio.estatus=='finalizado'" style="color: blue; display: inline-block;">{{estudio.estatus}}</p>
          
      </mat-card-subtitle>

  </mat-card-header>
  <img mat-card-image src="/assets/estudio.png" alt="Estudio">
  <mat-card-content>
  </mat-card-content>
</mat-card>

<!-- 
{{encuestaForm.value |json}}
{{encuestaForm.valid}} -->



<form novalidate [formGroup]="encuestaForm">

  <!-- formArrayName="fechas" *ngFor="let items of Fechas.controls; let i=index" -->
  <mat-horizontal-stepper [linear]="isLinear" *ngIf="preguntas" #stepper linear>

    <mat-step formArrayName="preguntas" *ngFor="let items of Preguntas.controls; let i=index" >
      <form [formGroupName]="i">
        <ng-template matStepLabel>pregunta {{i+1}}</ng-template>

        <div *ngIf="preguntas[i].tipopregunta=='Rango' || preguntas[i].tipopregunta=='Opcion simple' || preguntas[i].tipopregunta=='booleana' || preguntas[i].tipopregunta=='Opcion multiple' ">
          <p>{{preguntas[i].descripcion}}</p>
        </div>


        <mat-form-field *ngIf="preguntas[i].tipopregunta=='desarrollo'">
          <mat-label>{{preguntas[i].descripcion}}</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="pregunta" required>
        </mat-form-field>

        <!-- <mat-radio-group formControlName="pregunta" aria-label="Select an option" *ngIf="preguntas[i].tipopregunta=='Opcion simple'">

          <mat-radio-button *ngFor="let o of preguntas[i].opciones" value="">{{o.opcion}}</mat-radio-button>
          
        </mat-radio-group> -->

        <mat-radio-group formControlName="pregunta" aria-label="Select an option" *ngIf="preguntas[i].tipopregunta=='Opcion simple'">

          <mat-radio-button *ngFor="let o of preguntas[i].opciones" value="{{o.id}}">{{o.opcion}}</mat-radio-button>
          
        </mat-radio-group>

        <mat-radio-group formControlName="pregunta" aria-label="Select an option" *ngIf="preguntas[i].tipopregunta=='booleana'" required>
          <mat-radio-button value="1">Verdadero</mat-radio-button>
          <mat-radio-button value="0">falso</mat-radio-button>
        </mat-radio-group>
        
        <mat-slider required thumbLabel formControlName="pregunta" *ngIf="preguntas[i].tipopregunta=='Rango'" min="{{preguntas[i].minimo}}" max="{{preguntas[i].maximo}}" step="1" value="{{preguntas[i].minimo}}"></mat-slider>
        

        <span class="example-list-section" *ngIf="preguntas[i].tipopregunta=='Opcion multiple'">
          <ul>
            <li *ngFor="let o of preguntas[i].opciones">
              <mat-checkbox value="{{o.id}}" (click)="check(o.id, i)" >
                            {{o.opcion}}
              </mat-checkbox>
              
            </li>
          </ul>
        </span>


        
        <div>
          <!-- <button  (click)="verificar()"  mat-button matStepperNext>Next</button> -->
          <button  (click)="verificar(i)"  mat-button >Siguiente</button>
        </div>




        
      </form>
    </mat-step>


  </mat-horizontal-stepper>

</form>

