<h2 mat-dialog-title>
    Muestra</h2>

<mat-dialog-content class="mat-typography">
    <mat-list-item style="margin-bottom: 5px;">
        <div class="row" style="text-align: center; font-weight: bold;">
            <div class="col-3" mat-line>
                <mat-icon class="col-3" mat-list-icon style="padding: 0;">person</mat-icon>
            </div>
            <div class="col-3" mat-line> Nombre </div>
            <div class="col-3" mat-line> Apellido</div>
            <div class="col-3" mat-line> Opciones</div>
        </div>
    </mat-list-item>
    <mat-divider style="margin-bottom: 10px;"></mat-divider>
    <mat-list-item *ngFor="let item of data.participaciones">
        <div class="row" style="text-align: center;">
            <div class="col-3" mat-line style="padding-top: 10px;">{{item.participacion_id}} </div>
            <div class="col-3" mat-line style="padding-top: 10px;"> {{item.nombre}} </div>
            <div class="col-3" mat-line style="padding-top: 10px;"> {{item.apellido}} </div>
            <div class="col-3" mat-line>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="border:0; outline: none;">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
    </mat-list-item>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Atras</button>
</mat-dialog-actions>